body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.corazon {
    width: 100px;
    height: 100px;
    fill: black; /* Color del corazón */
}
.corazon-container{
    position: absolute;
}


button {
    border: 0rem solid transparent;
}

#letter1, #letter2, #letter3, #letter4{
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: 5rem;
}

#sizeFont{
    font-size: 7rem;
}

#letter1{
    color: red;
    left: 30vh;
    top: 20vw;
}

#letter2{
    color: tomato;
    left: -20vh;
    top: 20vw;
}

#letter3{
    color: chocolate;
    left: -10vh;
    top: -20vw;
}

#letter4{
    color: crimson;
    left: 40vh;
    top: 0vw;
}





@media only screen and (max-width: 768px) {
    #letter1{
        color: red;
        left: 30vh;
        top: 20vw;
    }
    
    #letter2{
        color: tomato;
        left: -10vh;
        top: 30vw;
    }
    
    #letter3{
        color: chocolate;
        left: -10vh;
        top: -34vw;
    }
    #letter4{
        color: crimson;
        left: -20vh;
        top: 50vw;
    }
}

.overlay, .overlay2, .overlay3, .overlay4 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.ventana-emergente, .ventana-emergente2, .ventana-emergente3, .ventana-emergente4{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.ventana-emergente .cerrar, .ventana-emergente2 .cerrar2, .ventana-emergente3 .cerrar3, .ventana-emergente4 .cerrar4{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.ventana-emergente .contenido, .ventana-emergente2 .contenido2,  .ventana-emergente3 .contenido3, .ventana-emergente4 .contenido4{
    text-align: center;
}

.ventana-emergente img {
    max-width: 100%;
    margin-top: 10px;
}

